{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Crear Posts{% endblock %}

{% block body %}
<style>
        .example-wrapper { margin: 1em auto; width: 90%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
        {{ parent() }}

        <h1>Hello {{ controller_name }}! ✅</h1>

        {{ form(form) }}
</div>
{% endblock %}
