{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Mis Posts{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; width: 90%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <div class="example-wrapper">
        {{ parent() }}

        {{ dump(post) }}

    </div>
{% endblock %}