{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Ver Posts{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            width: 90%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>
    <div class="example-wrapper">
        {{ parent() }}
        {% set LikesDeEstePost = post.likes | split('.') %}
        <div class="container bg-white rounded my-3 p-4">
            <div class="d-flex bd-highlight">
                <div class="p-2 flex-grow-1 bd-highlight">
                    <h3>{{ post.titulo }}</h3>
                    <div class="my-3" style="color:#3282b8;" onclick="MeGusta({{ post.id }})">
                        <i class="fa fa-thumbs-up"></i>{#<strong>{{ post.likes }}</strong>#}
                        <span>
                            {% if app.user.id in LikesDeEstePost %}
                                Te ha gustado el post
                            {% else %}
                                Dale like si te ha gustado
                            {% endif %}
                        </span>
                    </div>
                    <div style="color:#c3f584;">
                        <i class="far fa-clock"></i> <strong>{{ post.fechapublicacion | date }}</strong>
                    </div>
                </div>
                <div class="p-2 bd-highlight">
                    <div class="align-self-center">
                        <img class="rounded" src="{{ asset('uploads/fotos/'~post.foto) }}" width="150px" alt="Imagen del post">
                    </div>
                </div>
            </div>
            <hr>
            <div class="text-justify my-3">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec venenatis eros, ac lobortis ex. Sed
                    aliquet lacus quam, ut ullamcorper elit faucibus eu. In sem purus, venenatis eget maximus ut, bibendum
                    et ligula. Aenean gravida leo in nisl venenatis, semper consequat tortor auctor. Nunc lacinia lacus
                    massa, vitae maximus lorem tincidunt vel. Cras ultricies varius lorem, vitae venenatis justo consequat
                    vitae. Pellentesque tempor sapien vel lacus aliquam euismod vitae eget odio. Integer in enim pharetra,
                    tristique erat et, dignissim lorem. Maecenas faucibus at ex non vulputate. Nullam non blandit tortor.
                    Nulla metus dolor, vehicula vel elit et, ornare venenatis ligula. Pellentesque aliquet, justo sit amet
                    finibus elementum, felis orci tristique dolor, ac luctus nunc velit vitae felis. Integer ut egestas
                    lectus. Nam consequat faucibus ante, a elementum ipsum. Sed luctus magna vitae sapien tristique, eu
                    pellentesque dui venenatis.
                </p>
                <p>{{ post.contenido }}</p>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('js/ajax-call.js') }}"></script>
{% endblock %}